@using Coursemanager.Models;
@{
    var site = (Websiteinfo)ViewBag.Site;
}
<div class="content-wrapper">
    <div class="float-left">
        <p class="site-title">@Html.ActionLink(Websiteinfo.SiteName, "Index", "Home")</p>
    </div>
    <div class="float-right">
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <nav>
            <ul id="menu">
                @foreach (var link in site.ActionLinks)
                {
                    <li>@Html.ActionLink(link.Name, link.Action, link.Controller)</li>
                }
            </ul>
        </nav>
    </div>
</div>

